*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}


.menu-bar{
  
  background: linear-gradient(135deg, rgb(5, 94, 89),rgba(68, 150, 146, 0.801),rgba(22, 156, 150, 0.801));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 10px;
}

.logo{
  color: white;
  font-size: 6vh;
  font-family: 'Cabin Sketch',cursive;
}

h1 img{
  margin-bottom: -5px;
  width: 45px;
  height: 45px;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}

.menu-bar ul{
  list-style: none;
  display: flex;
}

.menu-bar ul li{
  padding: 10px 30px;
  position: relative;
  transition: 0.3s;
  border-radius: 9px;
}

.menu-bar ul li:hover{
  background-color: rgb(21, 121, 116);
  
}

.menu-bar ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: all 0.3s;
}
.dropdown{
  display: none;
}
.menu-bar ul li:hover .dropdown{
  display: flex;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgb(44, 173, 166);
  border-radius: 9px;
}

.dropdown ul{
   display: block;
   margin: 10px;
}

.dropdown ul li{
  width: 150px;
  padding: 12px;
  text-align: left;
  border-radius: 9px;
}

.fa{
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.dropdown-1{
  display: none;
}
.dropdown ul li:hover .dropdown-1{
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: rgb(44, 173, 166);
  border-radius: 9px;
}

.tag{
 
  background: linear-gradient(190deg,rgb(41, 116, 116), rgba(15, 61, 63, 0.438))  , url("background.jpeg");
  background-position: center;
  height: 105vh;
  background-size: cover;
  width: 100%;
}

.para{
  display: block;
}

.para img{
  
  width: 100%;
  height: 120vh;
}

h4{
  font-size: 5vh;
  display: flex;
  color: aliceblue;
  font-family: 'Cabin Sketch',sans-serif;
  padding-top: 150px;
  padding-left: 50px;
}

p{
  display: flex;
  color: aliceblue;
  font-size: 18px;
  font-family: 'Cabin Sketch',sans-serif;
  padding-left: 50px;
  padding-top: 20px;
}

.login{
  display: none;
  margin-left: 70%;
  margin-top: -18%;
  background: linear-gradient(-135deg, rgba(22, 216, 167, 0.658),rgba(66, 155, 133, 0.541),rgba(74, 204, 172, 0.699));
  width: 20%;
  padding: 20px 45px;
  border-radius: 5px;
}

.login h2{
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.login h4{
  text-align: left;
  margin-left: -45px;
  margin-top: -140px;
  font-size: 14px;
  display: block;
}

.login a{
 cursor: pointer;
}

.login input{
  padding: 5px 2px 2px 5px;
  font-size: 16px;
  margin-left: 0px;
  background: transparent;
  box-shadow: 0 0 20px 9px rgb(9, 107, 107);
  border-style: none;
  color: #f8f1f1;
}

input::placeholder{
  color: rgba(255, 253, 253, 0.479);
}

.user{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  color: azure;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #999;
  outline: none;
}

.btns{
  display: block;
  padding-top: 25px;
  padding-left: 10px;
}

.submit{
  padding: 5px 12px 5px 12px;
  cursor: pointer;
  font-size: 2.5vh;
  background-color: rgb(8, 102, 102);
  color: white;
  border-radius: 12px;
  border: none;
  margin-left: -8px;
  box-shadow: 0 0 20px 9px rgb(8, 102, 102);
  transition: 0.3s;
}

.close{
  padding: 5px 12px 5px 12px;
  cursor: pointer;
  font-size: 2.5vh;
  background-color: rgb(8, 102, 102);
  color: white;
  border-radius: 12px;
  border: none;
  margin-left: 25px;
  box-shadow: 0 0 20px 9px rgb(8, 102, 102);  
  transition: 0.3s;
}

 button:hover{
  background-color: white;
  color: rgb(0, 7, 7);
}

.reg{
  display: none;
  margin-left: 70%;
  margin-top: -18%;
  background: linear-gradient(-135deg, rgba(22, 216, 167, 0.658),rgba(66, 155, 133, 0.541),rgba(74, 204, 172, 0.699));
  width: 20%;
  padding: 20px 45px;
  border-radius: 5px;
}

.reg h2{
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.reg input{
  padding: 5px 2px 2px 5px;
  font-size: 16px;
  margin-left: 0px;
  background: transparent;
  box-shadow: 0 0 20px 9px rgb(9, 107, 107);
  border-style: none;
  color: #f8f1f1;
}

.bunk{
  display: none;
  width: 500px;
  height: 100vh;
  text-align: center;
  background: linear-gradient(-135deg, rgba(54, 226, 238, 0.801),rgba(64, 192, 201, 0.76),rgba(18, 133, 141, 0.801),rgb(27, 126, 133));
  margin-top: 0px;
  margin-left: 450px;
  border-radius: 40px;
}

.bunk h2{
  color: white;
  font-size: 24px;
  padding-top: 50px;
}

.bunk h3{
  color: white;
  padding-left: 100px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0%;
}

.admin{
  display: block;
  color: white;
  font-size: 16px;
  padding-top: 40px;
  text-align: left;
  padding-left: 50px;
}

.bunk input{
  display: flex;
  padding: 10px 2px 2px 5px;
  font-size: 16px;
  margin-left: 0px;
  background: transparent;
  box-shadow: 0 0 20px 9px rgb(9, 107, 107);
  border-style: none;
  color: #f8f1f1;
  margin-left: 250px;
  margin-top: -27px;
}

.btnn{
  margin-left: -110px;
  margin-top: 15px;

}

.sub{
  padding: 10px 22px 10px 22px;
  cursor: pointer;
  font-size: 2.5vh;
  background-color: rgb(5, 68, 68);
  color: white;
  border-radius: 24px;
  border: none;
  margin-left: 100px;
  box-shadow: 0 0 20px 9px rgb(8, 102, 102);  
  transition: 0.3s;
  margin-top: 10px;
}

.ok{
  padding: 10px 22px 10px 22px;
  cursor: pointer;
  font-size: 2.5vh;
  background-color: rgb(5, 68, 68);
  color: white;
  border-radius: 24px;
  border: none;
  margin-left: 100px;
  box-shadow: 0 0 20px 9px rgb(8, 102, 102);  
  transition: 0.3s;
}

.manage{
  display: none;
  width: 400px;
  height: 59vh;
  text-align: center;
  background: linear-gradient(-135deg, rgba(54, 226, 238, 0.507),rgba(64, 192, 201, 0.548),rgba(18, 133, 141, 0.507),rgb(27, 126, 133));
  margin-top: 100px;
  margin-left: 500px;
  border-radius: 40px;
  box-shadow: 0 0 20px rgb(8, 107, 107);
}

.manage h2{
  color: white;
  text-align: center;
  font-size: 23px;
  padding-top: 20px;
}

.details{
  padding: 6px 12px;
  margin-top: 30px;
  margin-left: 100px;
  display: block;
  background: transparent;
  border-style: none;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 10px rgb(4, 54, 54);
}

.clicks{
  margin-left: -90px;
  margin-top: 12px;
}

.slot{
  display: none;
  width: 400px;
  height: 69vh;
  text-align: center;
  background: linear-gradient(-135deg, rgba(54, 226, 238, 0.507),rgba(64, 192, 201, 0.548),rgba(18, 133, 141, 0.507),rgb(27, 126, 133));
  margin-top: 100px;
  margin-left: 500px;
  border-radius: 40px;
  box-shadow: 0 0 20px rgb(8, 107, 107);
}

.slot h2{
  color: white;
  text-align: center;
  font-size: 23px;
  padding-top: 20px;
}

.butnn{
  margin-left: -20px;
  margin-top: 12px;
}

.okk,.nope,.okay,.done{
  padding: 10px 22px 10px 22px;
  cursor: pointer;
  font-size: 2.5vh;
  background-color: rgb(5, 68, 68);
  color: white;
  border-radius: 24px;
  border: none;
  margin-left: 20px;
  box-shadow: 0 0 20px 9px rgb(8, 102, 102);  
  transition: 0.3s;
}

.slot input{
  padding: 6px 12px;
  margin-top: 30px;
  margin-left: 90px;
  display: block;
  background: transparent;
  border-style: none;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 10px rgb(4, 54, 54);
}

.slot input::placeholder{
  font-size: 13px;
  color: #f8f1f1c7;
}

.availability{
  color: white;
  padding-left: 40%;
  padding-top: 20px;
  font-size: 27px;
  display: none;
}
.present{
  display: none;
  width: 500px;
  height: 83vh;
  text-align: center;
  background: linear-gradient(-135deg, rgba(54, 226, 238, 0.801),rgba(64, 192, 201, 0.76),rgba(18, 133, 141, 0.801),rgb(27, 126, 133));
  margin-top: 0px;
  margin-left: 50px;
  border-radius: 40px;
}



.EV{
  list-style: none;
  color: white;
  text-align: left;
  padding-top: 10px;
}

.list{
   margin-left: 300px;
   margin-top: -392px;
}

.lbls{
  padding-top: 30px;
  margin-left: -5%;
  margin-top: 50px;
}

.touch{
  margin-top: 20px;
  margin-left: -40px;
}

.info{
  display: block;
  color: white;
  font-size: 16px;
  padding-top: 10px;
  text-align: left;
  padding-left: 50px;
}

.tested{
  display: none;
  margin-left: 30%;
  margin-top: 8%;
  background: linear-gradient(-135deg, rgba(22, 216, 167, 0.658),rgba(66, 155, 133, 0.541),rgba(74, 204, 172, 0.699));
  width: 40%;
  padding: 20px 45px;
  border-radius: 5px;
}

.tested img{
  width: 60px;
  height: 60px;
  margin-left: 180px;
}

.tested h2{
  color: white;
  font-size: 20px;
  display: flex;
  text-align: left;
}

.done{
  margin-top: 10px;
  margin-left: 180px;
}

.slot h3, .manage h3{
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.about{
  display: none;
  background: linear-gradient(190deg,rgb(41, 116, 116), rgba(15, 61, 63, 0.438))  , url("background.jpeg");
  background-position: center;
  height: 155vh;
  background-size: cover;
  width: 100%;
  margin-top: -20px;
}

.about h2{
  color: white;
  padding-left: 37%;
  padding-top: 70px;
  font-size: 7vh;
}

.about h4{
  padding-top: 30px;
  padding-left: 25%;
}

.about h3{
  color: white;
  padding-left: 37%;
  font-size: 5vh;
  padding-top: 5%;
}

.about p{
  padding-left: 25%;
}

.clsAbt{
  margin-top: 2%;
  margin-left: 43%;
  padding: 10px 22px 10px 22px;
  cursor: pointer;
  font-size: 3vh;
  background-color: rgb(5, 68, 68);
  color: white;
  border-radius: 24px;
  border: none;
  box-shadow: 0 0 20px 9px rgb(8, 102, 102);  
  transition: 0.3s;
}

